body {
    font-family: "VT323", monospace;
    background-color: #06141b;
    
    
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #7fffd4;
    font-weight: 50;
    text-align: center;
    margin: 80px;

  }
  p {

    font-size: 15px;
  }
  a {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7fffd4;
  
  }
  
  a:visited {
    color: white;
  }

  header {
  height: 100px;
  }

  #text {
    font-size: 5.5vw;
    color: #7fffd4;
    text-align: center;
    margin-top: 5%;
  }
  
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
  
  
  .bento-grid {
    display: grid;
    gap: var(--space);
  }
  
  @media (min-width: 50rem) {
    .bento-grid {
      grid-template-columns: repeat(var(--col-count, 3), 1fr);
      grid-template-rows: repeat(var(--row-count, 3), auto);
    }
  
    .bento-grid > * {
      grid-column: var(--col);
      grid-row: var(--row);
    }
  }
  
  /* --- Demo styles --- */
  :root {
    --space: 1.25rem;
    --text: #f3f5f8;
    --surface-1: #020617;
    --surface-2: rgba(77,	92,	96, .5);
    --surface-3: #1e293b;
    --gradient: linear-gradient(
      20deg,
      hsla(0 0% 0% / 0) 20%,
      hsla(0 0% 100% / 0.065) 120%
    );
  }
  
  * {
    box-sizing: border-box;
  }
  

  .page1 {
    margin-inline: auto;
    width: min(1000px, 100%);
    margin-block-start: 2rem;
    padding-block-start: 4rem;
  }
  

  h2 {
    font-weight: 600;
    font-size: 1.65rem;
    line-height: 1.1;
    color: #7fffd4;
  }
  
  p{
    color: #7fffd4;
  }
  


  .item {
    border: 1px solid var(--surface-3);
    background-color: var(--surface-2);
    opacity: 0.5;
    padding: var(--space);
    border-radius: 0.5rem;
    border-color: #7fffd4;
    
  }



  .item > * + * {
    margin-block-start: 1.125rem;
  }
  


  .backhome {

    display: flex;
    justify-content: center;
    align-items: center;

  }


  .bxs-home-alt-2 {
    font-size: 35px;
    margin: 25px;
    
  }

  ul {
    color: #7fffd4;
    margin: 10px;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }