body {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
      
  }
  
  form {
    background-color: #f7f7f7;
    padding: 22px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  input, label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

  }
  
  input:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  input[type="submit"] {
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: "VT323", monospace;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  form:invalid input[type="submit"] {
    background-color: gray;
  }
  

  .btn-primary {
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: "VT323", monospace;


  }
  